In [2]:
import pandas as pd
import numpy as np

In [194]:
#How-to-count-distance-to-the-previous-zero
df = pd.DataFrame({'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
count = 0
ar =[]
for y in range(df.X.shape[0]):
    if df.X[y] == 0:
        count = y
        ar.append(0)
    else:
        if count == 0:
            ar.append(y+1)
        else:
            ar.append(y-count)
ar
np.array(ar)
df['Y']=np.array(ar)
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [175]:
# Only business days of 2015
datetimecol = pd.date_range(start='2015/1/1',end='2015/12/31', freq='B', set_col="x")
datetimecol

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [211]:
df = pd.DataFrame({'Date':datetimecol, 'Random':np.random.randint(100, 5000 ,size= len(datetimecol))})

df.set_index('Date').head(5)

            Random
Date
2015-01-01    2787
2015-01-02    3504
2015-01-05    4462
2015-01-06    3146
2015-01-07    1934

In [213]:
series_dates = pd.Series(np.random.randint(100, 5000 ,size= len(datetimecol)) , index=datetimecol)
series_dates.head(10)

2015-01-01     325
2015-01-02    3362
2015-01-05     805
2015-01-06    3285
2015-01-07    2390
2015-01-08    3313
2015-01-09     830
2015-01-12    4538
2015-01-13    2398
2015-01-14    3501
Freq: B, dtype: int32

In [183]:
#Find the sum of the values in s for every Wednesday
series_dates.asfreq('W-WED').sum()

139932

In [184]:
series_dates.head(6)

2015-01-01    2149
2015-01-02    2743
2015-01-05    4295
2015-01-06     812
2015-01-07    3089
2015-01-08    3308
Freq: B, dtype: int32

In [210]:
#Average For each calendar month
g = series_dates.groupby(pd.TimeGrouper('M')).mean()
g

2015-01-31    2847.000000
2015-02-28    2857.550000
2015-03-31    2172.681818
2015-04-30    2205.272727
2015-05-31    2565.666667
2015-06-30    2215.681818
2015-07-31    2986.652174
2015-08-31    2533.476190
2015-09-30    2571.045455
2015-10-31    2335.590909
2015-11-30    2366.619048
2015-12-31    2832.000000
Freq: M, dtype: float64

In [218]:
#For each group of four consecutive calendar months in s, find the date on which the
#highest value occurred
series_dates.groupby(pd.TimeGrouper('4M')).idxmax()

2015-01-31   2015-01-16
2015-05-31   2015-02-05
2015-09-30   2015-07-22
2016-01-31   2015-12-25
Freq: 4M, dtype: datetime64[ns]